<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Assignment.APITesting.VerifyTopRatedMovieTest"/>
      <class name="Assignment.APITesting.VerifyMovieExistenceTest"/>
      <class name="Assignment.APITesting.VerifyMovieRatingUpdate"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
